<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [51]:
# Стандартный импорт для работы с данными
import numpy as np
import pandas as pd

# Импорт модулей для стандартизации и нормализации
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [53]:
# Подружаем файл при условии, что он в области видимости
#в рабочей папке
ds = pd.read_csv('dataset.csv')
ds.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
# смотрим  имена столбцов
ds.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [55]:
#Если нужно оставить несколько столбцов, вносим их далее через запятую
df = ds[['Survived','Embarked']]
df

     Survived Embarked
0           0        S
1           1        C
2           1        S
3           1        S
4           0        S
..        ...      ...
886         0        S
887         1        S
888         0        S
889         1        C
890         0        Q

[891 rows x 2 columns]

In [57]:
# Удаляем строки с проущенными значениями
df = df.dropna()
df

     Survived Embarked
0           0        S
1           1        C
2           1        S
3           1        S
4           0        S
..        ...      ...
886         0        S
887         1        S
888         0        S
889         1        C
890         0        Q

[889 rows x 2 columns]

In [58]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Используем LabelEncoder для кодировки строкового столбца
label_encoder = LabelEncoder()
df['Embarked']= label_encoder.fit_transform(df['Embarked'])

df.head()

   Survived  Embarked
0         0         2
1         1         0
2         1         2
3         1         2
4         0         2

In [60]:
#Сохраним названия столбцов перед нормализацией, чтобы восстановить в дальнейшем
columns = df.columns
columns

Index(['Survived', 'Embarked'], dtype='object')

In [61]:
# minmas scaler
mms= MinMaxScaler()
# обучение нормализатора
df = mms.fit_transform(np.array(df))

In [62]:
# выыведем 1 строку для оценки результата
df[:1]

array([[0., 1.]])

In [63]:
# преобразуем обратно в DataFrame
df = pd.DataFrame(data = df, columns = columns)
df.head()

   Survived  Embarked
0       0.0       1.0
1       1.0       0.0
2       1.0       1.0
3       1.0       1.0
4       0.0       1.0

In [64]:
# описательная статистика
df.describe()

         Survived    Embarked
count  889.000000  889.000000
mean     0.382452    0.767717
std      0.486260    0.396044
min      0.000000    0.000000
25%      0.000000    0.500000
50%      0.000000    1.000000
75%      1.000000    1.000000
max      1.000000    1.000000

In [65]:
#Cумма элементов
df.values.sum()

1022.5

In [66]:
# Округляем до ближайшего целого
round(df.values.sum())

1022

In [67]:
# Стандартизация
std = StandardScaler()
df_s = std.fit_transform(np.array(df))

In [68]:
df_s[:1]

array([[-0.78696114,  0.58683958]])